/* Reset and font */

body{
    margin: 0;
    border:0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    background-color: #fefcf7;
}

/* Header */

.page-head{
    display: flex;
}

.menu{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-title{
    margin: 0;
    display: flex;
    align-items: center;
    font-style: italic;
    font-size: 10px;
    font-weight: 400;
    white-space: nowrap;
}

.logo{
    height: 30px;
    margin-left: 10px;
    margin-bottom: 8px;
}

.menu-pages{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    grid-gap: 5px;
    min-width: 300px;
}

.menu-pages-item{
    padding-right: 30px; 
    list-style: none;
    font-size: 1em;
}

.menu-pages-item-link{
    text-decoration: none;
    color: black;
    padding: 6px 10px 6px 10px;
    border-radius: 4px;
}

.menu-pages-item-link:hover{
    background-color: #eaa7ae;
}

/* Banner */

.main-banner{
    width: 100%;
    height: 700px;
    object-fit: cover;
    background-image:
        linear-gradient(to bottom, rgba(254,252,247, 0)70%,rgba(254,252,247, 1)),
        url(../assets/main-banner.jpg);
    background-position: top;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.services-banner{
    width: 100%;
    height: 700px;
    object-fit: cover;
    background-image:
        linear-gradient(to bottom, rgba(254,252,247, 0)70%,rgba(254,252,247, 1)),
        url(../assets/services-banner.jpg);
    background-position: top;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.urns-banner{
    width: 100%;
    height: 700px;
    object-fit: cover;
    background-image:
        linear-gradient(to bottom, rgba(254,252,247, 0)70%,rgba(254,252,247, 1)),
        url(../assets/urns-banner.jpg);
    background-position: top;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.banner-title{
    font-family: 'Poppins', sans-serif;
    padding: 0px;
    margin: 0px 0px 15px 0px;
    color: dimgray;
    text-align: center;
}

/* Offered sevices area */

.main-ads{
    display: flex;
    justify-content: space-around;
    width: 100%;
    list-style: none;
    margin: 0px;
    padding: 150px 0px 0px 0px;
    flex-wrap: wrap;
}

.urn-options{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding: 100px 0px 0px 0px;
}

.urn-options-item{
    height: 400px;
    justify-self: center;
}

.urn-options-item-link-1{
    text-decoration: none;
    color: black;
    font-size: 1.3em;
    padding: 0px 150px 300px 150px;;
    background-image:
        linear-gradient(to top, rgba(254,252,247, 0)80%,rgba(254,252,247, 1)),
        url(../assets/urn-1.png);
    background-position: center;
    background-size: cover;
    transition-property: opacity;
    transition-duration: .5s;
}

.urn-options-item-link-1:hover{
    opacity: 0.6;
}

.urn-options-item-link-2{
    text-decoration: none;
    color: black;
    font-size: 1.3em;
    padding: 0px 150px 300px 150px;;
    background-image:
        linear-gradient(to top, rgba(254,252,247, 0)70%,rgba(254,252,247, 1)),
        url(../assets/urn-2.png);
    background-position: center;
    background-size: cover;
    transition-property: opacity;
    transition-duration: .5s;
}

.urn-options-item-link-2:hover{
    opacity: 0.6;
}

.urn-options-item-link-3{
    text-decoration: none;
    color: black;
    font-size: 1.3em;
    padding: 0px 150px 300px 150px;;
    background-image:
        linear-gradient(to top, rgba(254,252,247, 0)70%,rgba(254,252,247, 1)),
        url(../assets/urn-3.png);
    background-position: center;
    background-size: cover;
    transition-property: opacity;
    transition-duration: .5s;
}

.urn-options-item-link-3:hover{
    opacity: 0.6;
}

.urn-options-item-link-4{
    text-decoration: none;
    color: black;
    font-size: 1.3em;
    padding: 0px 150px 300px 150px;;
    background-image:
        linear-gradient(to top, rgba(254,252,247, 0)70%,rgba(254,252,247, 1)),
        url(../assets/urn-4.png);
    background-position: center;
    background-size: cover;
    transition-property: opacity;
    transition-duration: .5s;
}

.urn-options-item-link-4:hover{
    opacity: 0.6;
}

.urn-options-item-link-5{
    text-decoration: none;
    color: black;
    font-size: 1.3em;
    padding: 0px 150px 300px 150px;;
    background-image:
        linear-gradient(to top, rgba(254,252,247, 0)70%,rgba(254,252,247, 1)),
        url(../assets/urn-5.png);
    background-position: center;
    background-size: cover;
    transition-property: opacity;
    transition-duration: .5s;
}

.urn-options-item-link-5:hover{
    opacity: 0.6;
}

.urn-options-item-link-6{
    text-decoration: none;
    color: black;
    font-size: 1.3em;
    padding: 0px 150px 300px 150px;;
    background-image:
        linear-gradient(to top, rgba(254,252,247, 0)70%,rgba(254,252,247, 1)),
        url(../assets/urn-6.png);
    background-position: center;
    background-size: cover;
    transition-property: opacity;
    transition-duration: .5s;
}

.urn-options-item-link-6:hover{
    opacity: 0.6;
}

.main-ads-img{
    height: 400px;
    opacity: .95
}

.main-ads-item{
    text-align: center;
    padding: 0px 0px 20px 0px;
    margin-bottom: 20px;
    border: 2px solid;
}

.main-ads-item-title{
    font-style: italic;
    margin: 8px 0px 10px 0px;
}

.main-ads-item-text{
    font-size: 1em;
    margin: 0;
    padding: 0px 0px 20px 0px;
}

.main-ads-item-link{
    font-size: 1em;
    text-decoration: none;
    color: dimgray;
    padding: 8px;
    border: 2px solid;
}

.main-ads-item-link:hover{
    background-color: #eaa7ae;
}

/* Footer */

.footer{
    display: flex;
    justify-content: space-evenly;
    background-color: #eaa7ae;
}

.footer-copyright{
    flex-grow: 1;
    flex-basis: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-copyright-1{
    margin: 0;
    padding-top: 10px;
    text-align: center;
}

.footer-sponsors{
    flex-grow: 1;
    flex-basis: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-sponsors-title{
    margin: 3px 3px 10px 3px;
}

.footer-sponsors-logo{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer-sponsors-logo-item{
    height: 50px;
    padding: 0px 20px 0px 20px;
}

.footer-media{
    flex-grow: 1;
    flex-basis: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-media-title{
    margin: 3px 3px 10px 3px;
}

.footer-media-logo{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer-media-logo-item{
    height: 50px;
    padding: 0px 20px 0px 20px;
}

/* Media queries */

@media screen and (max-width: 1184px) {
    .urn-options {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
}

@media screen and (max-width: 815px) {
    .urn-options {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);
    }
}

@media screen and (max-width: 760px) {
    .menu {
        display: flex;
        flex-direction: column;
    }
    .menu-pages {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    }
    .menu-pages-item {
    padding: 0px 5px 0px 5px; 
    list-style: none;
    font-size: 1em;
    }
}