body{
    margin: 0;
    border:0;
    font-family: 'Ubuntu', sans-serif;
    background-color: #fefcf7;
}

.page-head{
    padding: 24px;
    height: 0px;
    display: flex;
}

.menu{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-title{
    margin: 0;
    display: flex;
    align-items: center;
    font-style: italic;
    font-size: 10px;
    font-weight: 400;
    white-space: nowrap;
}

.logo{
    height: 30px;
    margin-left: 10px;
    margin-bottom: 8px;
}

.menu-pages{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    grid-gap: 5px;
    min-width: 300px;
}

.menu-pages-item{
    padding-right: 30px; 
    list-style: none;
}

.menu-pages-item-link{
    text-decoration: none;
    color: black;
    padding: 6px 10px 6px 10px;
    border-radius: 4px;
}

.menu-pages-item-link:hover{
    background-color: #eaa7ae;
}

.main-banner{
    width: 100%;
    height: 700px;
    object-fit: cover;
    background-image:
        linear-gradient(to bottom, rgba(254,252,247, 0)70%,rgba(254,252,247, 1)),
        url(main-banner.jpg);
    background-position: top;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.services-banner{
    width: 100%;
    height: 700px;
    object-fit: cover;
    background-image:
        linear-gradient(to bottom, rgba(254,252,247, 0)70%,rgba(254,252,247, 1)),
        url(services-banner.jpg);
    background-position: top;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.banner-title{
    font-family: 'Poppins', sans-serif;
    padding: 0px;
    margin: 0px 0px 15px 0px;
    color: dimgray;
    text-align: center;
}

.main-ads{
    display: flex;
    justify-content: space-around;
    width: 100%;
    list-style: none;
    margin: 0px;
    padding: 150px 0px 0px 0px;
    flex-wrap: wrap;
}

.main-ads-img{
    height: 400px;
    opacity: .95
}

.main-ads-item{
    text-align: center;
    padding: 0px 0px 20px 0px;
    margin-bottom: 20px;
    border: 2px solid;
}

.main-ads-item-title{
    font-style: italic;
    margin: 8px 0px 10px 0px;
}

.main-ads-item-text{
    font-size: 18px;
    margin: 0;
    padding: 0px 0px 20px 0px;
}

.main-ads-item-link{
    text-decoration: none;
    color: dimgray;
    padding: 8px;
    border: 2px solid;
}

.main-ads-item-link:hover{
    background-color: #eaa7ae;
}

.footer{
    display: flex;
    justify-content: space-evenly;
    background-color: #eaa7ae;
}

.footer-copyright{
    flex-grow: 1;
    flex-basis: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-copyright-1{
    margin: 0;
    padding-top: 10px;
    text-align: center;
}

.footer-sponsors{
    flex-grow: 1;
    flex-basis: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-sponsors-title{
    margin: 3px 3px 10px 3px;
}

.footer-sponsors-logo{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer-sponsors-logo-item{
    height: 50px;
    padding: 0px 20px 0px 20px;
}

.footer-media{
    flex-grow: 1;
    flex-basis: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-media-title{
    margin: 3px 3px 10px 3px;
}

.footer-media-logo{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer-media-logo-item{
    height: 50px;
    padding: 0px 20px 0px 20px;
}